n8n/workflows/01-cold-disparar-hop.json
{
  "name": "01 · Cold — Disparar Hop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 1 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-400, 0],
      "id": "d98d1b36-b2c9-4b53-bba1-d7d521f16a49",
      "name": "Agendamento Diário"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54a4c565-21e4-4d2f-9088-e61f98993cbe",
              "name": "hop_url",
              "value": "http://host.docker.internal:8080/run",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-112, 0],
      "id": "a7e5b36d-8988-4f23-9202-06015c9f226c",
      "name": "Configurações"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.hop_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "f69bc157-b230-4d8a-a131-5aacf8ae94b7",
      "name": "Disparar Hop"
    }
  ],
  "connections": {
    "Agendamento Diário": {
      "main": [[{ "node": "Configurações", "type": "main", "index": 0 }]]
    },
    "Configurações": {
      "main": [[{ "node": "Disparar Hop", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
