n8n/workflows/02-cold-callback-dbt-telegram.json
{
  "name": "02 · Cold — Callback dbt → Telegram",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "hop-finished",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vo79O80LNX6gh7wt",
          "name": "Trigger API Key"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-384, -16],
      "id": "7c08f15b-499b-45eb-a20e-3dfc9c1a5278",
      "name": "Receber Sinal do Hop",
      "webhookId": "1781f52a-b32f-4e9e-9c3d-177b2a1bfb26"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 5400000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [160, -16],
      "id": "68dda058-c13b-467d-bd6f-a3bf00c7ca11",
      "name": "Executar dbt"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "3b74646a-b2fa-4731-8b4b-b9515f3f4873",
              "leftValue": "={{ $json.returncode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [416, -16],
      "id": "bd52eb6d-883c-4712-99b4-e14fee612d7a",
      "name": "dbt Sucesso?"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=✅ Pipeline concluído com sucesso!\n\n📅 {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}\n⏱ Tempo dbt: {{ $('Executar dbt').item.json.stdout.match(/\\((\\d+(?:\\.\\d+)?)s\\)/)?.[1] ?? '?' }}s\n📦 Modelos: {{ $('Executar dbt').item.json.stdout.match(/TOTAL=(\\d+)/)?.[1] ?? '?' }} total\n✅ Sucesso: {{ $('Executar dbt').item.json.stdout.match(/PASS=(\\d+)/)?.[1] ?? '?' }}\n⚠️ Avisos: {{ $('Executar dbt').item.json.stdout.match(/WARN=(\\d+)/)?.[1] ?? '0' }}\n❌ Erros: {{ $('Executar dbt').item.json.stdout.match(/ERROR=(\\d+)/)?.[1] ?? '0' }}\n⏭ Ignorados: {{ $('Executar dbt').item.json.stdout.match(/SKIP=(\\d+)/)?.[1] ?? '0' }}",
        "additionalFields": { "appendAttribution": false, "parse_mode": "HTML" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [736, -192],
      "id": "790f8492-79c7-489e-8b71-85536937780f",
      "name": "Notificar Sucesso"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=❌ Pipeline falhou na etapa dbt!\n\n📅 {{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}\n🔴 Return code: {{ $('Executar dbt').item.json.returncode }}\n📦 Total: {{ $('Executar dbt').item.json.stdout.match(/TOTAL=(\\d+)/)?.[1] ?? '?' }} modelos\n✅ Sucesso: {{ $('Executar dbt').item.json.stdout.match(/PASS=(\\d+)/)?.[1] ?? '0' }}\n❌ Erros: {{ $('Executar dbt').item.json.stdout.match(/ERROR=(\\d+)/)?.[1] ?? '?' }}\n⏭ Ignorados: {{ $('Executar dbt').item.json.stdout.match(/SKIP=(\\d+)/)?.[1] ?? '0' }}",
        "additionalFields": { "appendAttribution": false, "parse_mode": "HTML" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [736, 176],
      "id": "78ee3a61-1f55-4000-8ac7-5ed404727525",
      "name": "Notificar Falha"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-cnpj",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 1800000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "Vo79O80LNX6gh7wt", "name": "Trigger API Key" }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [736, 0],
      "id": "c3d8a1e2-4f5b-4a6c-9d7e-8f0a1b2c3d04",
      "name": "Enriquecer CNPJ (diário)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "leftValue": "={{ $json.returncode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [992, 0],
      "id": "d4e9b2f3-5a6c-4b7d-ae8f-9a1b2c3d4e05",
      "name": "CNPJ Sucesso?"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=✅ Enriquecimento de CNPJ (diário)\n📦 {{ $json.stdout.match(/Concluido: ([0-9]+) ok/)?.[1] ?? \"0\" }} fornecedor(es) atualizado(s)\n⏱ {{ new Date().toLocaleDateString(\"pt-BR\") }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1248, -120],
      "id": "e5f0c3a4-6b7d-4c8e-bf9a-0b2c3d4e5f06",
      "name": "Notificar Sucesso CNPJ"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=❌ Enriquecimento de CNPJ (diário) falhou\n🔍 {{ $json.stderr || $json.stdout.slice(-500) }}",
        "additionalFields": { "appendAttribution": false, "parse_mode": "none" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1248, 120],
      "id": "f6a1d4b5-7c8e-4d9f-ca0b-1c3d4e5f6a07",
      "name": "Notificar Erro CNPJ"
    }
  ],
  "connections": {
    "Receber Sinal do Hop": {
      "main": [[{ "node": "Executar dbt", "type": "main", "index": 0 }]]
    },
    "Executar dbt": {
      "main": [[{ "node": "dbt Sucesso?", "type": "main", "index": 0 }]]
    },
    "dbt Sucesso?": {
      "main": [
        [
          { "node": "Notificar Sucesso", "type": "main", "index": 0 },
          { "node": "Enriquecer CNPJ (diário)", "type": "main", "index": 0 }
        ],
        [{ "node": "Notificar Falha", "type": "main", "index": 0 }]
      ]
    },
    "Enriquecer CNPJ (diário)": {
      "main": [[{ "node": "CNPJ Sucesso?", "type": "main", "index": 0 }]]
    },
    "CNPJ Sucesso?": {
      "main": [
        [{ "node": "Notificar Sucesso CNPJ", "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro CNPJ", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "<ID_WORKFLOW_03>"
  },
  "tags": []
}
