n8n/workflows/03-cold-erro.json
{
  "name": "03 · Cold — Erro",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "hop-error",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vo79O80LNX6gh7wt",
          "name": "Trigger API Key"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-480, -16],
      "id": "5c6c5322-07f4-4987-a107-83ab0d87a282",
      "name": "Receber Erro Hop",
      "webhookId": "fc5be2d4-475d-49fb-bd70-37ed9ede3815"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=⚠️ ERRO — Pipeline Cold\n\nUm pipeline falhou durante a extração noturna.\nVerifique os logs no Dokploy → hop-server.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [96, -16],
      "id": "93e080bc-ca87-4c43-ac11-aa2deb385446",
      "name": "Telegram - Erro Pipeline Cold"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-480, 160],
      "id": "a1e9c1f4-6b3d-4b1a-9b0a-1f6c2d8e9a01",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=⚠️ ERRO — Workflow n8n\n\n📋 {{ $json.workflow.name }}\n🔴 Nó: {{ $json.execution.lastNodeExecuted }}\n📝 {{ $json.execution.error.message }}\n\nVerifique a execução no n8n.",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [96, 160],
      "id": "b2f0d2f5-7c4e-4c2b-ac1b-2f7d3e9f0a02",
      "name": "Telegram - Erro Workflow n8n"
    }
  ],
  "connections": {
    "Receber Erro Hop": {
      "main": [[{ "node": "Telegram - Erro Pipeline Cold", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Telegram - Erro Workflow n8n", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
