n8n/workflows/04-hot-trigger-hop.json
{
  "name": "04 · Hot — Trigger Hop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 8 },
            { "triggerAtHour": 12 },
            { "triggerAtHour": 15 },
            { "triggerAtHour": 18 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-432, -32],
      "id": "d9cdcd86-e45d-4fee-8be9-f0120a88d5b9",
      "name": "Agendamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/run?workflow=workflow_consinco_vendas_hot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [176, -32],
      "id": "d396c843-55a9-4a4e-b283-daa39981762c",
      "name": "Disparar Hop Hot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vo79O80LNX6gh7wt",
          "name": "Trigger API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "check-started",
              "leftValue": "={{ $json.status }}",
              "rightValue": "started",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, -32],
      "name": "Hop iniciou?"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=⚠️ Hop já estava rodando (hot {{ $now.setZone('America/Sao_Paulo').toFormat('HH:mm') }})\nPipeline anterior pode estar travado.\nVerifique: Dokploy → hop-server → Logs",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [780, 130],
      "name": "Avisar Hop Ocupado",
      "credentials": {
        "telegramApi": {
          "id": "<TELEGRAM_CREDENTIAL_ID>",
          "name": "SuperqueOps"
        }
      }
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=❌ Falha ao disparar Hop hot ({{ $now.setZone('America/Sao_Paulo').toFormat('HH:mm') }})\nServidor não respondeu ou retornou erro inesperado.\nVerifique: Dokploy → hop-server → Status",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 160],
      "name": "Avisar Falha Hop",
      "credentials": {
        "telegramApi": {
          "id": "<TELEGRAM_CREDENTIAL_ID>",
          "name": "SuperqueOps"
        }
      }
    }
  ],
  "connections": {
    "Agendamento": {
      "main": [[{ "node": "Disparar Hop Hot", "type": "main", "index": 0 }]]
    },
    "Disparar Hop Hot": {
      "main": [
        [{ "node": "Hop iniciou?", "type": "main", "index": 0 }],
        [{ "node": "Avisar Falha Hop", "type": "main", "index": 0 }]
      ]
    },
    "Hop iniciou?": {
      "main": [
        [],
        [{ "node": "Avisar Hop Ocupado", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
