n8n/workflows/04-hot-trigger-hop.json
{
  "name": "04 · Hot — Trigger Hop",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "triggerAtHour": 8 },
            { "triggerAtHour": 12 },
            { "triggerAtHour": 15 },
            { "triggerAtHour": 18 }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-432, -32],
      "id": "d9cdcd86-e45d-4fee-8be9-f0120a88d5b9",
      "name": "Agendamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72592ba7-28e0-42d2-9fc8-5b46d6d956e2",
              "name": "telegram_chat_id",
              "value": "<TELEGRAM_CHAT_ID>",
              "type": "string"
            },
            {
              "id": "61026e6b-53fb-4a6d-bd56-6350e2507510",
              "name": "hop_url",
              "value": "http://host.docker.internal:8080/run?workflow=workflow_consinco_vendas_hot",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-144, -32],
      "id": "c68e08f5-e603-4efe-92d6-26f85d763b0e",
      "name": "Configurações"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.hop_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [176, -32],
      "id": "d396c843-55a9-4a4e-b283-daa39981762c",
      "name": "Disparar Hop Hot"
    }
  ],
  "connections": {
    "Agendamento": {
      "main": [[{ "node": "Configurações", "type": "main", "index": 0 }]]
    },
    "Configurações": {
      "main": [[{ "node": "Disparar Hop Hot", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
