n8n/workflows/05-hot-callback-dbt-telegram.json
{
  "name": "05 · Hot — Callback dbt → Telegram",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "path": "vendas-hot",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vo79O80LNX6gh7wt",
          "name": "Trigger API Key"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-896, 0],
      "id": "7959030b-b0ee-4616-bbf8-324ff99aed78",
      "name": "Hop Concluído",
      "webhookId": "35f03172-d14f-4940-b76a-0191a35f79ed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "stg_maxv_abcdistribbase fato_venda stg_maxv_abcentradabase fato_entrada"
            }
          ]
        },
        "options": { "timeout": 1800000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-288, 0],
      "id": "9da92c26-5fab-43ec-8f7c-d17180c69293",
      "name": "dbt - Vendas Hot"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "1761e5c6-1158-4393-a5d7-c72f401c9f3f",
              "leftValue": "={{ $json.returncode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [48, 0],
      "id": "9228a28a-d011-4392-b2fa-36e0e5450d9b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Vendas Hot atualizada\n🕐 {{ new Date().toLocaleTimeString('pt-BR', {hour: '2-digit', minute: '2-digit'}) }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [576, -208],
      "id": "92582863-4eed-434a-b846-c2058e3a232b",
      "name": "Notificar Sucesso"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ Vendas Hot falhou\n🔍 {{ $json.stderr || $json.stdout.slice(-500) }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [592, 176],
      "id": "3c8ef25c-4432-44a6-9e10-46027ecd9cdf",
      "name": "Notificar Erro"
    }
  ],
  "connections": {
    "Hop Concluído": {
      "main": [[{ "node": "dbt - Vendas Hot", "type": "main", "index": 0 }]]
    },
    "dbt - Vendas Hot": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "Notificar Sucesso", "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
