n8n/workflows/08-fornecedores-cnpj-mensal-full.json
{
  "name": "08 · Fornecedores — Enriquecer CNPJ (mensal full)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "months", "triggerAtHour": 3 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-448, -16],
      "id": "fd31d379-7f1f-4c2d-9af3-05ae397ec85f",
      "name": "Dia 1 do Mês 03:00"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-cnpj",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "mode", "value": "full" }] },
        "options": { "timeout": 3600000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "Vo79O80LNX6gh7wt", "name": "Trigger API Key" }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [0, -16],
      "id": "80adb7c6-95f7-40b1-bd19-54fe44cc7dd8",
      "name": "Enriquecer CNPJ (Full)"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "leftValue": "={{ $json.returncode }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [352, -16],
      "id": "27b2e697-e0a8-420e-84f5-e5e197b3c118",
      "name": "Sucesso?"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=✅ Enriquecimento de CNPJ (mensal full)\n📦 {{ $json.stdout.match(/Concluido: (\\d+) ok/)?.[1] ?? \"0\" }} fornecedor(es) reprocessado(s)\n⏱ {{ new Date().toLocaleDateString('pt-BR', {month: 'long', year: 'numeric'}) }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [736, -176],
      "id": "078d005e-6083-4ec5-a0b5-1c1c78521247",
      "name": "Notificar Sucesso"
    },
    {
      "parameters": {
        "chatId": "<TELEGRAM_CHAT_ID>",
        "text": "=❌ Enriquecimento de CNPJ (mensal full) falhou\n🔍 {{ $json.stderr || $json.stdout.slice(-500) }}",
        "additionalFields": { "appendAttribution": false, "parse_mode": "none" }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [752, 160],
      "id": "4a3bd07c-5a89-48b3-8d8d-ae4ad2a1e6a8",
      "name": "Notificar Erro"
    }
  ],
  "connections": {
    "Dia 1 do Mês 03:00": {
      "main": [[{ "node": "Enriquecer CNPJ (Full)", "type": "main", "index": 0 }]]
    },
    "Enriquecer CNPJ (Full)": {
      "main": [[{ "node": "Sucesso?", "type": "main", "index": 0 }]]
    },
    "Sucesso?": {
      "main": [
        [{ "node": "Notificar Sucesso", "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
