n8n/workflows/09-mercado-externo-ipca-pmc-diario.json
{
  "name": "09 · Mercado Externo — IPCA/PMC (diário)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 0,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "98536c93-ea76-4698-8a91-f03498857349",
      "name": "Diario 00:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-mercado-externo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 3600000 }
      },
      "id": "65f086a6-cca5-45e4-a29a-5bbd61d87d30",
      "name": "Atualizar Mercado Externo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [224, 96],
      "credentials": {
        "httpHeaderAuth": { "id": "Vo79O80LNX6gh7wt", "name": "Trigger API Key" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [
            {
              "leftValue": "={{ $json.returncode }}",
              "operator": { "type": "number", "operation": "equals" },
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe00f604-11c3-4b2b-a049-5fc885e37bbd",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 96]
    },
    {
      "parameters": {
        "chatId": "8466427080",
        "text": "=✅ Atualização de mercado externo (IPCA/PMC)\n📦 {{ $json.stdout.match(/Concluido: (\\d+) pontos/)?.[1] ?? \"0\" }} pontos gravados\n📅 {{ $now.toFormat(\"MMMM yyyy\") }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "bc01cd4a-8b45-4420-b577-b52ea61a33e4",
      "name": "Notificar Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, -32],
      "webhookId": "7581952a-dc87-4706-b33f-891072707c6f",
      "credentials": {
        "telegramApi": { "id": "tp24lH41oNzxB65M", "name": "SuperqueOps" }
      }
    },
    {
      "parameters": {
        "chatId": "8466427080",
        "text": "=❌ Atualização de mercado externo (IPCA/PMC) falhou\n🔍 {{ $json.stderr || $json.stdout.slice(-500) }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "9db51ce3-54a8-417e-97b5-1bd76386cc91",
      "name": "Notificar Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [704, 288],
      "webhookId": "0b30d3fa-1f20-4b96-90d4-31602ff72597",
      "credentials": {
        "telegramApi": { "id": "tp24lH41oNzxB65M", "name": "SuperqueOps" }
      }
    }
  ],
  "connections": {
    "Atualizar Mercado Externo": {
      "main": [[{ "node": "Sucesso?", "type": "main", "index": 0 }]]
    },
    "Sucesso?": {
      "main": [
        [{ "node": "Notificar Sucesso", "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro", "type": "main", "index": 0 }]
      ]
    },
    "Diario 00:30": {
      "main": [[{ "node": "Atualizar Mercado Externo", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  }
}
